<%- include('includes/main.ejs') %>
<link rel="stylesheet" href="/css/shop.css">
<link rel="stylesheet" href="/css/order.css">

</head>
<body>
    <%- include('includes/navigation.ejs') %>
    <div class="main-page">

        
        <% if (obj.length === 0){ %>
            <h1> No items to show</h1>
            <% }else { %>
                
                <% for (let P of obj) { %>
                    <div class="main">
                    <% for (let pro of P.product) { %>
                        
                        <div class="mainpage-container">
                    <div class="title"><p><%= pro.productId.title %></p></div>
                
                    <div class="bottom">
                        <ul>
                            <li class="price">$<%= pro.productId.price %></li>
                            <li class="discription"><%= pro.productId.discription %></li>
                            
                        </ul>
                    </div>
                    <div class="buy">
                        <P>qty: <%= pro.quantity %></P>
                        
                    </div>
                </div>


                    
                    
                    
                <% } %>
            </div>
                <% } %>
                
                <% } %>
        </div>


<%- include('includes/end.ejs') %>
