<%- include('includes/main.ejs')  %>
<link rel="stylesheet" href="/css/add-product.css"> 
</head>
<body>
    <%- include('includes/navigation.ejs') %>
    <% console.log('ttttttttttttttt',message) %>
    <% if(message !== null) { %>
    <div class="user-message user-message--error">
        <%= message %>
    </div>
    <% } %>
    <form class="add-product" action="/reset-password" method="post" novalidate>
        <input class="<%= invalid === 'email' ? 'notvalide' : '' %>" type="email" name="email" placeholder="Enter your E-mail address" value="<%= iserror === 'true' ? email : '' %>"> 
        
        
        
       
            <button type="submit">Reset password</button>
        </form>



    

<%- include('includes/end.ejs') %>
