<%- include('includes/main.ejs')  %>
<link rel="stylesheet" href="/css/add-product.css"> 
</head>
<body>
    <%- include('includes/navigation.ejs') %>
    <% console.log('ttttttttttttttt',message) %>
    <% if(message !== null) { %>
    <div class="user-message user-message--error">
        <%= message %>
    </div>
    <% } %>
    <form class="add-product" action="/reset_password" method="post">
       
        <input type="password" name="password" placeholder="Enter your password" novalidate>
        <input type="password" name="confirmPassword" placeholder="Enter your password">
        <input type="hidden" name="token" value="<%= token %>">

        
        
     
            <button type="submit">Update password</button>
        
       



    </form>


<%- include('includes/end.ejs') %>
