<%- include('includes/main.ejs')  %>
<link rel="stylesheet" href="/css/add-product.css"> 
</head>
<body>
    <%- include('includes/navigation.ejs') %>
    
    <% console.log('ttttttttttttttt',message) %>
    <% if(message !== null) { %>
    <div class="user-message user-message--error">
        <%= message %>
    </div>
    <% } %>
    <form class="add-product" action="/singup" method="post" novalidate>
        <input 
        class="<%= invalid === 'email' ? 'notvalide' : '' %>" 
        type="email"
        name="email" 
        placeholder="Enter your E-mail address" 
        value="<%= iserror === true ? email : '' %>">

        <input 
        class="<%= invalid === 'password' ? 'notvalide' : '' %>"  
        type="password" 
        name="password" 
        placeholder="Enter your password" 
        value="<%= iserror === true ? password : '' %>">

        <input 
        class="<%= invalid === 'confirm_password' ? 'notvalide' : '' %>" 
        type="password" 
        name="confirm_password" 
        placeholder="Confirm your password" 
        value="<%= iserror === true ? confirm_password : '' %>">
        
        
        
        <button type="submit">Sing Up</button>
        



    </form>


<%- include('includes/end.ejs') %>
